*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background-color: #ADEFD1FF !important;
  overflow-x: hidden;
}
nav{
  display: flex !important;
}

.sidenav{
  display: flex !important;
  color: #04d9ff;
  justify-content: flex-end !important;
  background-color: black;
  margin: 0;
  padding: 0;
}

.info{
  text-align: center;
  display: none;
  width: 100%;
  color: #020035 !important;
  justify-content: flex-end !important;
  flex-direction: column;
  position: absolute !important;
}

nav a{
    text-decoration: none;
    color: #04d9ff;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
nav a:hover{
    color: gray;
}
nav  li{
    list-style:none ;
    padding: 10px;
    
    
}
.navbar .items{
  display: none !important;
}

.toggle-button{
  visibility: hidden;
}


/* */
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 8px;

}

#buttonside{
  position: relative !important;
  cursor: pointer;
}
#buttonside:hover{
  color: red !important;
}
.dropdown{
  display: flex !important;
  justify-content: flex-end;
  position: absolute !important;
  top: 55px;
  right: 0px;
  transition: .3s ease;
  
 
}
.nav-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color:#020035;
  color: #04d9ff !important;
}

.icons{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons li{
  padding: 10px;
  
}
.icons li i {
  font-size: 30px;
}
.side-nav{
  width: 100%;
}
.side-nav li{
  list-style: none;
}
.side-nav li a{
  text-decoration: none;
}

.nav-side{
  display: none;
}

.nav-side.active{
  display: flex;
}
.buttonside{
  display: block;
}
.side-na1{
  display: flex;
}

.about{
    font-size: 50px;
    line-height: 200%;
    font-family: 'Tiro Devanagari Marathi', serif;
}

.me{
    font-size: 60px;
    font-weight: 500;
    color: #00203FFF;
    
}

.me1{
    font-size: 29px;
    font-weight: 500;
    color: #00203FFF;
    
}
.about-me h2{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-size:40px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.about-me p{
    font-family: sans-serif;
    font-size: 30px;

}

.wrapper {
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 25ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 23px;
  
  }
form ,#contact-form{
  display: none !important;
}
  .icon{
    cursor: pointer;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


.btn{
  font-size: 22px;
}
.project1-title{
  font-family: 'Tiro Devanagari Marathi', serif;
  font-weight: 600;
  font-size: 45px;
}
.project1{
  border-radius:5px ;

}


.form-control, 
textarea {
  background-color: #ADEFD1FF;
  max-width: 400px;
  color: #fff;
  letter-spacing: 1px;
}


.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.content{
  text-align: center;
}

.container-skills{
  display: grid ;
  grid-template-columns: repeat(auto-fit , minmax(250px , 1fr)) ;
  gap: 50px;
  padding: 10px;
}

.technology{
  height: 200px;
  margin: 10px;
  padding: 15px;
}

::-webkit-scrollbar {
  width: 20px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}




::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}





 form{
   display: flex;
   flex-direction: column;
   padding: 10px;

 }
 
 label{
   margin: 5px;
   font-weight: 800;
 
 }
 
 input{
   border-radius: 6px;
   padding: 10px;
   width: 50%;
 }
 
 button{
   padding: 10px;
   border-radius: 6px;
   background-color: var(--bg-button);
   color: var( --button-color);
   cursor: pointer;
   width: 50%;
 }
 

 textarea{
   resize: none !important;

 }


@media screen and (max-width:600px){
  .side-na1:last-child{
    display: flex !important;
  }
  .toggle-button{
    visibility: visible !important;
  }
  

.nav-side ,.toggleside{
  display: none !important;
}
  form ,#contact-form{
    display:grid!important;
  }
  input,button{
    width: 100%;
  }

  .about-me p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}
.about .me{
  font-size: 25px;
  font-family: 'Tiro Devanagari Marathi', serif;
  line-height: 200%;
  font-weight: 600;
}

  
  .typing-demo {
    border-right:2px solid ;
    font-size: 18px;
    width: 21ch;
    height: 60%;
  }
    .img-me{
        display: none;
    }
      
        html, body {
          overflow-x: hidden;
          }
          
.toggle-button #icon{
  display: flex;
}
.navbar .items {
  display: none !important;
}

.navbar .items.active{
  display: flex !important;
}
.items{
  width: 100%;
  flex-direction: column;
}
 .navbar li{
  text-align: center;
}
.navbar a{
padding: .5rem 1rem;
}
.side-na1{
  display: none !important;
}

}


    